html {height:100%}
body {margin:0; padding:0; height:99%; text-align:center}
#kup, #htm {display:block; width:99%; height:45%; margin:0; border:0}
#run, #url {display:inline-block; width:40%; height:4%; font-weight:bold}
